/**
 * @file
 * Stylesheet for the administration pages of the Karmacracy module.
 */

.fieldset-colorpicker .fieldset-wrapper {
  max-width: 50em;
  position: relative;  
}

.fieldset-colorpicker .colorpicker {
  position: absolute;
  top: 0;
  right: 0;  
}

.form-item-karmacracy-widget-settings-color1,
.form-item-karmacracy-widget-settings-color2,
.form-item-karmacracy-widget-settings-color3,
.form-item-karmacracy-widget-settings-color4 {
  float: left;
  width: 38%;
}

.form-item-karmacracy-widget-settings-color5,
.form-item-karmacracy-widget-settings-color6,
.form-item-karmacracy-widget-settings-color7,
.form-item-karmacracy-widget-settings-color9 {
  float: left;
  width: 38%;
}

.karmacracy-preview {
  min-height: 120px;
}
